<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Add New Blog </h1>
  <form method="POST" action="/create-post">
    <label for="title">TITLE:</label>
    <input type="text" id="title" name="title" required>
    <label for="content">description:</label>
    <textarea id="content" name="content" required></textarea>
    <button type="submit">Submit</button>
  </form>
  <a href="/">Back </a>
</body>
</html>
